<div class="site-wrapper" data-ng-app="praesto.client">
  <home></home>
</div>

<!-- global libs -->
<script src="/socket.io/socket.io.js"></script>
<script src="/components/angular/angular.min.js"></script>
<script src="/components/angular-messages/angular-messages.min.js"></script>
<script src="/components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/components/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
<script src="/components/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="/components/AngularJS-Toaster/toaster.js"></script>

<!-- app -->
<script src="/js/app/shared/_bootstrap/_module.js"></script>
<script src="/js/app/shared/filters/trust-url.js"></script>
<script src="/js/app/shared/services/socket.js"></script>
<script src="/js/app/client/_bootstrap/_module.js"></script>
<script src="/js/app/client/components/home/home.js"></script>
<script src="/js/app/client/components/asset/asset.js"></script>
<script src="/js/app/client/components/asset-multiple/asset-multiple.js"></script>
