<form name="sendAssetsForm" class="form-inline">
  <div class="form-group">
    <div class="btn-group dropdown" uib-dropdown="" is-open="$ctrl.status.isOpen" style="">
      <button type="button"
              class="btn btn-default dropdown-toggle"
              uib-dropdown-toggle=""
              data-ng-disabled="!$ctrl.assetList || $ctrl.assetList.length === 0"
              aria-haspopup="true"
              aria-expanded="false"
              title="{{$ctrl.dropdownTitle}}">
        <span data-ng-bind="$ctrl.dropdownText"></span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" data-ng-if="$ctrl.assetList">
        <li role="menuitem" class="asset-item" data-ng-repeat="assetInstance in $ctrl.assetList">
          <a data-ng-click="$ctrl.addAsset($event, assetInstance)">
            <span class="fa fa-check" data-ng-class="{'fa-blank': !assetInstance.selected}"></span>
            <span data-ng-bind="assetInstance.name"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="form-group">
    <label class="sr-only">Rotate (in seconds)</label>
    <div class="input-group">
      <div class="input-group-addon" title="Rotate">Rotate every</div>
      <input type="number"
            data-ng-model="$ctrl.timeout"
            class="form-control"
            placeholder="Rotate (in seconds)"
            title="Rotate (in seconds)"
            data-ng-disabled="$ctrl.selectedAssetList.length < 2">
      <div class="input-group-addon">seconds</div>
    </div>
  </div>
  <button type="button"
          class="btn btn-primary"
          data-ng-disabled="$ctrl.status.disabled"
          data-ng-click="$ctrl.sendAssets()">Send assets</button>
</form>
